<ng-container *ngIf="form" >
  <mat-card [formGroup]="form" [ngClass]="form.invalid ? 'input-error' : 'input-success'">
    <mat-card-header>
      <mat-card-title> Plusieurs sous formulaire</mat-card-title>
      <mat-card-subtitle
        >Tests d'implementation de l'interface
        ControlValueAccessor</mat-card-subtitle
      >
      <mat-slide-toggle (change)="disableArray($event)">
        Activer formulaire
      </mat-slide-toggle>
    </mat-card-header>
    <mat-card-content>
      
      <app-sandbox-subform-a formControlName="subA"> </app-sandbox-subform-a>
      <app-array formControlName="array" [cols]="cols" [event]="formCustomEvent"></app-array>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="send()" [disabled]="form.invalid">Send !</button>
    </mat-card-actions>
  </mat-card>
  
</ng-container>
