<div>
  <ng-container *ngFor="let list of shoppingLists$ | async; let index = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ list.date_created | date }}
        </mat-panel-title>
        <mat-panel-description>
          <span [ngClass]="['dot', list.status]"></span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-list-details [shoppingList]="list" (updateList)="onUpdateList($event)"></app-list-details>
    </mat-expansion-panel>
  </ng-container>
</div>
