<h1 mat-dialog-title>Ajouter une référence de produit.</h1>
<div mat-dialog-content>
  <!-- {{ labels$ | async | json}} -->
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Nom : </mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marque : </mat-label>
        <input matInput formControlName="marque" />
      </mat-form-field>
      <div *ngFor="let progressInfo of progressInfos">
        <span>{{ progressInfo.fileName }}</span>
        <mat-toolbar class="progress-bar">
          <mat-progress-bar
            color="accent"
            [value]="progressInfo.value"
          ></mat-progress-bar>
          <span class="progress">{{ progressInfo.value }}%</span>
        </mat-toolbar>
      </div>
      <app-file-upload requiredTypeFiles="image/png" formControlName="picture"></app-file-upload>
      <mat-error *ngIf="form.controls['picture'].errors['requiredTypeFiles']">
        Seulement les formats jpg, jpeg et png sont autorisés. 
      </mat-error>
      <mat-error *ngIf="form.controls['picture'].errors['fileUploadError']">
        L'upload à échoué.
      </mat-error>
      <mat-form-field appearance="fill">
        <mat-label> Etiquette : </mat-label>
        <mat-select formControlName="etiquette">
          <mat-option *ngFor="let label of labels$ | async" [value]="label.id">
            {{ label.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status : </mat-label>
        <mat-select formControlName="status">
            <mat-option value="published"> Publié </mat-option>
            <mat-option value="draft"> Brouillon </mat-option>
            <mat-option value="archived"> Archivé </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    cdkFocusInitial
    [disabled]="form.invalid"
  >
    Valider
  </button>
</div>
