<ng-container *ngIf="form">
  <mat-card
    [formGroup]="form"
    [ngClass]="form.invalid ? 'input-error' : 'input-success'"
  >
    <mat-card-header>
      <mat-card-title> Commun </mat-card-title>
      <mat-card-subtitle>
        Tests d'implementation de l'interface ControlValueAccessor - Partie
        commune
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Date : </mat-label>
        <input
          matInput
          [matDatepicker]="datePicker"
          formControlName="date"
          (blur)="onTouched()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Address Line 2"
          formControlName="addressLine2"
          (blur)="onTouched()"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Zip Code"
          formControlName="zipCode"
          (blur)="onTouched()"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="City"
          formControlName="city"
          (blur)="onTouched()"
        />
      </mat-form-field>

      <mat-slide-toggle formControlName="resetWeight">
        Reset weight columns
      </mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</ng-container>
