<mat-card>
  <ng-container *ngIf="shoppingList$ | async as shoppingList">
    <mat-card-header>
      <mat-card-title>
        <h1>Ma liste de course</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>{{ shoppingList.product.length }} produits dans la liste.</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="isLoading$ | async; else content">
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-template #content>
      <mat-card-content>
        <mat-list>
          <!-- {{shoppingList.product | json}} -->
          <mat-list-item *ngFor="let product of shoppingList.product">
            <img
              matListAvatar
              *ngIf="product.products_id.picture"
              src="{{ url }}/assets/{{ product.products_id.picture }}?key=thumbnail"
              alt="Photo de {{ product.products_id.name }}"
            />
            <h4 matLine>
              {{ product.products_id.name }}
              {{ product.products_id.marque ? " - " + product.products_id.marque : "" }}
            </h4>
            <p matLine>{{ product.quantity }} {{ product.unit.libelle }}</p>
            <button mat-icon-button (click)="onRemove(product.products_id.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save(shoppingList)">
          Enregister la liste de course
        </button>
      </mat-card-actions>
    </ng-template>
  </ng-container>
</mat-card>
