<div>
  <mat-selection-list #myList  (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let product of shoppingList.product" [value]="product" [selected]="product.bought">
      <mat-icon matListIcon>shopping_cart</mat-icon>
      <h4 matLine>
        {{ product.products_id.name }}
        {{
          product.products_id.marque ? " - " + product.products_id.marque : ""
        }}
      </h4>
      <p matLine>{{ product.quantity }} - {{ product.unit.libelle }}</p>
    </mat-list-option>
  </mat-selection-list>
</div>
