<mat-toolbar color="primary">
<!--   <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Home Stock</span>
  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn$ | async; else loggedOf">
    <button mat-button [matMenuTriggerFor]="productMenu">
      <mat-icon>category</mat-icon>
      <span>Produits</span>
    </button>
    <button mat-button [matMenuTriggerFor]="stockMenu">
      <mat-icon>inventory_2</mat-icon>
      <span>Stocks</span>
    </button>
    <button mat-button [matMenuTriggerFor]="shoppingListMenu">
      <mat-icon [matBadge]="productInCart$ | async" matBadgeColor="accent" matBadgePosition="after">shopping_cart</mat-icon>
      <span>Liste de course</span>
    </button>
    <button mat-button [matMenuTriggerFor]="recipesMenu">
      <mat-icon>menu_book</mat-icon>
      <span>Recettes</span>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <ng-container *ngIf="user$ | async as user">
         <span>{{ user.first_name }} {{ user.last_name }}</span> 
      </ng-container>
      <mat-icon>person</mat-icon>
    </button>
  </ng-container>
  <ng-template #loggedOf>
    <button mat-raised-button [routerLink]="['login']">
      <mat-icon>person</mat-icon>
      <span>Se connecter</span>
    </button>
  </ng-template>
</mat-toolbar>
<div class="hs-parent">
  <div class="hs-container">
    <router-outlet></router-outlet>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>account_circle</mat-icon>
    <span>Mon profil</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Déconnection</span>
  </button>
</mat-menu>

<mat-menu #productMenu="matMenu">
  <button mat-menu-item [routerLink]="['products']">
    <mat-icon>list</mat-icon>
    <span>Liste des produits</span>
  </button>
  <button mat-menu-item [routerLink]="['products','new']">
    <mat-icon>add</mat-icon>
    <span>Ajouter un produit</span>
  </button>
</mat-menu>

<mat-menu #stockMenu="matMenu">
  <button mat-menu-item [routerLink]="['stocks']">
    <mat-icon>food_bank</mat-icon>
    <span>Mes stocks</span>
  </button>
  <button mat-menu-item [routerLink]="['stocks','new']">
    <mat-icon>add</mat-icon>
    <span>Créer un nouveau stock</span>
  </button>
</mat-menu>

<mat-menu #shoppingListMenu="matMenu">
  <button mat-menu-item [routerLink]="['cart']">
    <mat-icon>list</mat-icon>
    <span>Ma liste de courses</span>
  </button>
  <button mat-menu-item [routerLink]="['cart','new']">
    <mat-icon>add</mat-icon>
    <span>Générer ma liste de courses</span>
  </button>
</mat-menu>

<mat-menu #recipesMenu="matMenu">
  <button mat-menu-item [routerLink]="['recipes']">
    <mat-icon>list</mat-icon>
    <span>Ma liste de courses</span>
  </button>
  <button mat-menu-item [routerLink]="['recipes','new']">
    <mat-icon>add</mat-icon>
    <span>Ajouter une recette</span>
  </button>
</mat-menu>
