<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Produits référencés.</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ products.length }} références.</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <mat-form-field appearance="fill">
      <mat-label>Rechercher un produit : </mat-label>
      <input matInput (input)="onFilterValueChanged($event)" />
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="addProduct()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="products"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let product">
          <span [ngClass]="['dot', product.status]"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
      </ng-container>
      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef>Marque</th>
        <td mat-cell *matCellDef="let product">{{ product.marque }}</td>
      </ng-container>
      <ng-container matColumnDef="etiquette">
        <th mat-header-cell *matHeaderCellDef>Etiquette</th>
        <td mat-cell *matCellDef="let product">
          <ng-container *ngIf="product.etiquette">
            <mat-chip-list>
              <mat-chip
                [ngStyle]="{ 'background-color': product.etiquette.color }"
                >{{ product.etiquette.libelle }}</mat-chip
              >
            </mat-chip-list>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let product">
          <button
            mat-icon-button
            color="primary"
            aria-label="Ajouter au panier"
            (click)="addToCart(product)"
          >
            <mat-icon>add</mat-icon>
          </button>
          <ng-container *ngIf="isAdmin$ | async">
            <button
              mat-icon-button
              color="primary"
              aria-label="Editer le produit"
              (click)="updateProduct(product)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
